
@{
    ViewBag.Title = "show";
}

<h2>show</h2><div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">show</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete</a>
    </nav>
    <h2>@Model.teacherfname @Model.teacherlname</h2>


</div>          